<?php

return [

    'serverAddress' => null,

    'realm' => null,

    'cookiePath' => null,

    'cookieDomain' => null,

    'cookieName' => null,

    'legacy' => false,

    'eloquentModel' => null,

    'eloquentUidField' => 'uid',

    'testUser' => null,

    'testUserPassword' => null

];